.boardContainer {
    container: board-container / size;
    display: flex;
    flex: 1;
}

.boardWrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

@container board-container (max-aspect-ratio: 1 / 1) {
    .boardWrapper {
        flex-direction: row;
    }
}

.board {
    display: flex;
    flex: 1;
    flex-direction: column;
    aspect-ratio: 1;
}

.boardRow {
    display: flex;
    flex-direction: row;

    &.squareRow {
        flex: 10;
    }

    &.edgeRow {
        flex: 1;
    }
}

.boardCornerSpace {
    flex: 1;
    background-color: #769656;
}
