.board {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.board-row {
    display: flex;
    flex-direction: row;
}

.board-corner-space {
    width: 8px;
    height: 8px;
}
