.board {
    display: flex;
    flex-direction: column;
    background-color: white;

    width: 696px;
    height: 696px;
}

.board-row {
    display: flex;
    flex-direction: row;

    &.square-row {
        flex: 10;
    }

    &.edge-row {
        flex: 1;
    }
}

.board-corner-space {
    flex: 1;
    background-color: #769656;
}
