.board-container {
    container: board-container / size;
    display: flex;
    flex: 1;
}

.board-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
	align-items: center;

    @container board-container (max-aspect-ratio: 1/1) {
        flex-direction: row;
    }
}

.board {
    display: flex;
    flex: 1;
    flex-direction: column;
    aspect-ratio: 1;
}

.board-row {
    display: flex;
    flex-direction: row;

    &.square-row {
        flex: 10;
    }

    &.edge-row {
        flex: 1;
    }
}

.board-corner-space {
    flex: 1;
    background-color: #769656;
}
