.square-placeble-area-container {
    display: flex;
    flex: 1;
    position: relative;
}

.square-placeble-area {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;

    &:hover {
        opacity: 0.5;
    }
}
