.access-game {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 1px solid black;
    border-radius: 2%;
    padding: 20px;

    .create-new-game {
        display: flex;
        flex-direction: column;
    }

    .join-existing-game {
        display: flex;
        flex-direction: column;
    }

    & h3 {
        margin-top: 0;
        margin-bottom: 10px;
    }

    & label {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
    }

    & input,
    & select {
        min-width: 100%;
        width: 0;
        margin-top: 3px;
    }

    & hr {
        width: 100%;
        border: 1px solid #eeeeee;
        margin: 20px 0 20px 0;
    }

    /* Chrome, Safari, Edge, Opera */
    & input::-webkit-outer-spin-button,
    & input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    /* Firefox */
    & input[type="number"] {
        appearance: textfield;
        -moz-appearance: textfield;
    }
}
